<h2
  class="txt text-3xl font-semibold tracking-wider text-center pt-12"
  *ngIf="!params"
>
  CHECKOUT SUMMARY
</h2>

<h2
  class="txt text-3xl font-bold tracking-wider text-center pt-12"
  *ngIf="params"
>
  ORDER SUMMARY
<p class="text-sm text-left underline hover:text-orange-400 ml-80 mt-10 -mb-10 cursor-pointer" routerLink="/orders">GO BACK</p>
</h2>

<div class="flex justify-center mt-12 mb-48">
  <div
    class="flex flex-col w-full p-8 text-gray-800 bg-white shadow-lg pin-r pin-y md:w-3/5 lg:w-3/5"
  >
    <div class="flex-1">
      <table class="w-full text-sm lg:text-base" cellspacing="0">
        <thead class="header">
          <tr class="h-12 uppercase">
            <th class="hidden md:table-cell"></th>
            <th class="">Product</th>
            <th class="pl-4 lg:pl-0">
              <span class="lg:hidden" title="Quantity">Qtd</span>
              <span class="hidden lg:inline">Quantity</span>
            </th>
            <th class="">Total price</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="pl-20"
            *ngFor="let data of products; let i = index"
            app-checkout-items
            [product]="data"
          ></tr>
        </tbody>
      </table>
    </div>
    <hr class="pb-6 mt-6" />
    <div class="ml-56 lg:flex">
      <div class="lg:px-4 lg:w-2/3">
        <div class="">
          <h2 class="text-black text-base font-medium text-center">
            DELIVERY DETAILS
          </h2>
          <br />

          <form
            class="m-2"
            [formGroup]="checkoutForm"
            (ngSubmit)="createOrder()"
          >
            <div class="form-group">
              <label
                class="text-sm font-medium uppercase mr-3"
                for="address"
                >Address:</label
              >
              <input
                formControlName="address"
                type="text"
                id="address"
                class="form-control bg-stone-200 border:bg-stone-300 mb-9 w-full"
              />
              <div
                *ngIf="(checkoutForm.get('address')?.errors?.['required'] && checkoutForm.get('address')?.touched)"
                class="text-red-600 px-4 py-3"
                role="alert"
              >
                Address is required
              </div>
            </div>
            <div class="form-group">
              <label
                for="paymentMethod"
                class="text-sm font-medium uppercase mr-2"
                >Payment Method:</label
              >
              <span>
                <input
                  id="cash"
                  type="radio"
                  value="cash"
                  name="paymentMethod"
                  formControlName="paymentMethod"
                />
                <label for="cash" class="ml-1 mr-2">Cash</label>
              </span>
              <span>
                <input
                  id="card"
                  type="radio"
                  value="card"
                  name="paymentMethod"
                  formControlName="paymentMethod"
                />
                <label for="card" class="ml-1">Card</label>
              </span>

              <div
                *ngIf="(checkoutForm.get('paymentMethod')?.errors?.['required'] && checkoutForm.get('paymentMethod')?.touched)"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                role="alert"
              >
                Address is required
              </div>
            </div>
            <br />

            <div
              class="lg:px-4 lg:py-2 m-2 text-lg lg:text-xl font-bold text-center text-gray-800"
            >
              <p class="flex mt-6 -mb-7 ml-24">
                Total {{ total | currency: "PHP":"symbol" }}
              </p>
            </div>

            <button
              *ngIf="!params"
              [disabled]="!products.length || checkoutForm.invalid"
              class="flex justify-center w-56 py-3 mt-9 ml-20 font-medium text-white uppercase bg-stone-400 rounded-full shadow item-center hover:text-orange-400 hover:bg-stone-700 focus:shadow-outline focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-7 h-7"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"
                />
              </svg>

              <span class="mt-1">Submit</span>
            </button>
            <button
              *ngIf="!params"
              [disabled]="!products.length"
              (click)="cancelOrder()"
              class="flex justify-center w-56 py-3 mt-6 ml-20 font-medium text-white uppercase bg-stone-400 rounded-full shadow item-center hover:text-orange-400 hover:bg-stone-700 focus:shadow-outline focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-8 h-8"
              >
                <path
                  d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
                />
              </svg>

              <span class="mt-1">Cancel</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
