<div class="min-w-[800px] h-screen py-16 flex justify-center">
  <div class="lg:w-[80%]">
    <div class="min-h-max w-full py-4 items-center">
      <div class="space-x-2 flex">
        <div
          class="ml-28 mr-auto rounded-md overflow-hidden w-72 flex justify-end"
        >
          <input
            type="text"
            class="px-2 py-1 rounded-l-md"
            name="searchInput"
            [(ngModel)]="searchInput"
            placeholder="Search product"
          />
          <button
            class="bg-stone-400 hover:bg-stone-500 px-2 py-1"
            (click)="search(searchInput)"
          >
            <i class="fa fa-search text-white hover:text-orange-400"></i>
          </button>
        </div>

        <select
          class="px-2 py-1 border-none hover:bg-stone-500 bg-stone-400 text-white hover:text-orange-400 rounded-md w-52"
          [(ngModel)]="selectedCategory"
          (change)="valueSelected()"
        >
          <option [ngValue]="null" [disabled]="true">Filter Product</option>
          <option
            *ngFor="let category of categories"
            class="bg-stone-200 text-black"
          >
            {{ category }}
          </option>
        </select>

        <button
          class="px-2 py-1 bg-stone-400 hover:bg-stone-500 text-white rounded-md w-56"
          (click)="addProduct()"
        >
          <i class="fas fa-add"></i> Add Product
        </button>
      </div>
    </div>
    <app-table
      [products]="products"
      (emittter)="emitAction($event)"
    ></app-table>
  </div>
</div>
