<!-- <nav  class="py-1 px-2 shadow-lg flex content-center z-[50] bg-cyan-600">
  <div>
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-lg hover:text-white duration-200">
      <img src="https://pngimg.com/uploads/letter_c/letter_c_PNG103.png" alt="C" class="h-10 w-10">
      hoppee
    </a>
  </div>

  <ul class="ml-auto mr-12 flex items-center space-x-5">
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
      Dashboard
    </a>

    <a routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
     Products
    </a>

    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
      Admin
    </a>

    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
      Sign up
    </a>

    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
      Login
    </a>
  </ul>
</nav> -->
<!-- chin -->
<header
  class="header sticky top-0 opacity-100 bg-stone-500 z-50 shadow-md flex items-center justify-between"
>
  <a href="">
    <img src="../../../../assets/img/FinalLogo.png" class="logo w-48 ml-3"
  /></a>
  <nav class="nav ml-48 uppercase tracking-widest text-base z-10 top-0 w-100">
    <ul class="flex items-center">
      <li
        routerLink="/dashboard"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer active"
      >
        Dashboard
      </li>
      <li
        routerLink="/product"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer"
      >
        Products
      </li>
      <li
        routerLink="#"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer"
      >
        Admin
      </li>

      <li
        routerLink="/sign-up"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer active"
      >
        SignUp
      </li>
      <li
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer active"
      >
        Login
      </li>
    </ul>
  </nav>
  <div class="w-3/12 flex justify-end">
    <button class="shop mr-6" routerLink="cart">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="cart drop-shadow-lg fill-white hover:fill-orange-400 w-6"
      >
        <path
          d="M1 1.75A.75.75 0 011.75 1h1.628a1.75 1.75 0 011.734 1.51L5.18 3a65.25 65.25 0 0113.36 1.412.75.75 0 01.58.875 48.645 48.645 0 01-1.618 6.2.75.75 0 01-.712.513H6a2.503 2.503 0 00-2.292 1.5H17.25a.75.75 0 010 1.5H2.76a.75.75 0 01-.748-.807 4.002 4.002 0 012.716-3.486L3.626 2.716a.25.25 0 00-.248-.216H1.75A.75.75 0 011 1.75zM6 17.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15.5 19a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
        />
      </svg>
      <div class="badge bg-custom text-white hover:text-orange-400 text-xs">
        {{ totalItem }}
      </div>
    </button>
  </div>
</header>
