<header
  class="header sticky top-0 opacity-100 bg-stone-500 z-50 shadow-md flex items-center justify-between"
>
  <a href="">
    <img src="../../../../assets/img/FinalLogo.png" class="logo w-48 mx-2"
  /></a>
  <nav class="nav uppercase tracking-widest text-base z-10 top-0 w-100">
    <ul class="flex items-center">
      <li
        *ngIf="loggedIn"
        routerLink="/dashboard"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-400 duration-200 cursor-pointer active"
      >
        {{ userType === "admin" ? "Dashboard" : "Our products" }}
      </li>
      <li
        *ngIf="loggedIn && userType === 'admin'"
        routerLink="/admin"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer"
      >
        Admin
      </li>

      <li
        *ngIf="!loggedIn"
        routerLink="/sign-up"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer active"
      >
        SignUp
      </li>
      <li
        *ngIf="!loggedIn"
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="p-6 pr-6 border-b-2 border-orange-500 text-white border-opacity-0 hover:border-opacity-100 hover:text-orange-500 duration-200 cursor-pointer active"
      >
        Login
      </li>
    </ul>
  </nav>

  <!-- profile section -->
  <div class="flex justify-end" *ngIf="loggedIn">
    <div>
      <div class="relative"></div>
      <button
        (click)="dropDown = !dropDown"
        class="inline-flex justify-center shadow-sm px-4 py-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-7 h-7 fill-white hover:fill-orange-500"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <div
        *ngIf="dropDown"
        class="z-10 absolute top-13 right-16 w-44 bg-white rounded divide-y divide-gray-100 shadow"
      >
        <ul
          class="py-1 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDefault"
        >
          <li>
            <div
              routerLink="profile"
              class="block py-2 px-4 text-black hover:bg-stone-100 dark:hover:bg-stone-400 dark:hover:text-orange-600 cursor-pointer"
            >
              My Profile
            </div>
          </li>
          <li>
            <div
              routerLink="orders"
              class="block py-2 px-4 text-black hover:bg-stone-100 dark:hover:bg-stone-400 dark:hover:text-orange-600 cursor-pointer"
            >
              My orders
            </div>
          </li>
          <hr class="pb-2 mt-2" />
          <li>
            <div (click)="alert()"
              class="block py-2 px-4 text-black hover:bg-stone-100 dark:hover:bg-stone-400 dark:hover:text-orange-600 cursor-pointer"
              routerLink="login"

            >
              Sign Out
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 absolute ml-16 -mt-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M6 10a.75.75 0 01.75-.75h9.546l-1.048-.943a.75.75 0 111.004-1.114l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 11-1.004-1.114l1.048-.943H6.75A.75.75 0 016 10z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="shop relative flex mr-8 font-sans mt-4 lg:inline-block lg:mt-2 lg:ml-6 align-middle text-white hover:text-orange-500"
      routerLink="cart"
    >
      <svg
        class="flex-1 w-8 h-8 fill-current hover:fill-orange-500"
        viewbox="0 0 24 24"
      >
        <path
          d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"
        />
      </svg>
      <span
        class="absolute right-0 top-0 rounded-full bg-slate-700 w-4 h-4 top right p-0 m-0 text-white font-medium text-xs leading-tight text-center"
      >
        {{ totalItem }}
      </span>
    </button>
  </div>
</header>