<div
  class="wrapper text-gray-900 m-3 max-w-[400px]"
  title="{{ product.productName }}"
  (click)="emit(product)"
>
  <div class="grid place-items-center overflow-hidden"
  >
    <img
      src="{{ product.productImage }}"
      alt="{{ product.productName }}"
      class=" overflow-hidden w-[250px] max-h-[300px] object-cover object-center rounded-lg shadow-md"
    />

    <div class="relative px-4 w-[230px] -mt-10">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">
          {{ product.productName }}
        </h4>

        <div class="mt-1" title="{{ product.productCategory }}">
          {{ product.productPrice | currency: "PHP":"symbol" }}
        </div>
        <div class="mt-4">
          <span
            class="text-teal-600 text-md font-semibold"
            title="{{ product.productCategory }}"
            >{{ product.productCategory }} </span
          ><br />
          <span
            class="text-sm text-gray-600"
            title="{{ product.productCategory }}"
            >{{ product.unitsSold }} sold
          </span>
        </div>
        <button
          (click)="addToCart(product)"
          *ngIf="displayType != 'BestSellers'"
          class="bg-stone-500 text-xs text-white hover:bg-stone-500 hover:text-orange-400 px-3 py-2 mt-2 rounded-md uppercase"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
