<nav  class="py-1 px-2 border-b border-gray-100 shadow-lg flex content-center z-[50] bg-cyan-600">
  <div>
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-lg hover:text-white duration-200">
      <img src="https://pngimg.com/uploads/letter_c/letter_c_PNG103.png" alt="chopee" class="h-10 w-10">
      hoppee
    </a>
  </div>

  <ul class="ml-auto mr-12 flex items-center space-x-5">
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
      Sign Up
    </a>
    <span class="text-gray-900"> | </span>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex text-sm text-gray-900 hover:text-white duration-200">
      Login
    </a>
  </ul>
</nav>
