.nav {
    font-family: 'Lato', sans-serif;
}

.logo {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 170px;
    height: 90px;
}

.cart {
    width: 28px;
    color: white;
    background: none;
    
}

.cart:hover {
    color: #FC6A03;
}

.shop {
    border: none;
    background: none;
    margin-left: 780px;
    margin-right: 20px;
    margin-top: 8px;
}







