 <div class="bg-stone-200 h-screen w-screen">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
            <div class="flex flex-col w-full md:w-1/2 p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-3xl text-center font-thin">RESET PASSWORD</h1>
                    <div class="w-full mt-11">
                        <form [formGroup]="forgetForm" (ngSubmit)="submitButton()" class="form-horizontal w-3/4 mx-auto">
                          <div class="text-xs tracking-wider font-medium">USERNAME</div>
                            <div class="flex flex-col mt-2">
                                <input id="username" type="text" class="placeholder:italic flex-grow h-8 px-2 border rounded border-grey-400" formControlName="userName" placeholder="(juandelacruz123)">
                            </div>
                            <div class="flex flex-col mt-7">
                              <div class="text-xs tracking-wider font-medium mb-2">EMAIL</div>
                                <input id="email" type="text" class="placeholder:italic flex-grow h-8 px-2 rounded border border-grey-400" formControlName="email" placeholder="(juandela.cruz@gmail.com)">
                            </div>
                            <div class="flex flex-col mt-7">
                                <div class="text-xs tracking-wider font-medium mb-2">MOBILE NUMBER</div>
                                  <input id="number" type="text" class="placeholder:italic flex-grow h-8 px-2 rounded border border-grey-400" formControlName="mobileNumber" placeholder="XXX-XX-XXXX-XXX">
                              </div>
                            <div class="flex flex-col mt-8">
                                <button type="submit" class="bg-stone-400 hover:bg-stone-600 text-white text-sm font-semibold py-2 px-4 rounded">
                                    RESET MY PASSWORD
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-sm font-display font-semibold text-black text-center">Already have an account?
                  <a class="cursor-pointer text-red-400 hover:text-blue-700"(click)="loginRedirect()">Login Here</a>
                </div>
            </div>
            <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url('https://media.istockphoto.com/photos/portrait-of-a-thoughtful-young-african-woman-picture-id1302821273?b=1&k=20&m=1302821273&s=170667a&w=0&h=aZwXtnwhSygWrtVIHYqTTZRza819EexTpdqTUQKrnGQ='); background-size: cover; background-position: center center;"></div>
        </div>
    </div>
  </div>