
<div class="bg-stone-200 h-screen">
  <div
    class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0"
  >
    <div
      class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-stone-500 sm:mx-0"
      style="height: 500px"
    >
      <div class="flex flex-col w-full md:w-1/2 p-4">
        <div class="flex flex-col flex-1 justify-center mb-8">
          <h1 class="drop-shadow-lg shadow-black text-4xl text-center text-white font-medium">RESET PASSWORD</h1>
          <div class="w-full mt-11">
            <div class="form-horizontal w-3/4 mx-auto">
              <div class="flex flex-col mt-8">
                <button
                  type="submit"
                  (click)="getPassword()"
                  class="bg-stone-300 hover:bg-stone-600 text-stone-700 hover:text-orange-400 text-sm font-semibold py-2 px-4 rounded"
                >
                  GET PASSWORD
                </button>
              </div>
            </div>
            <div
              class="mt-2 mb-8 text-sm font-display font-semibold text-white text-center"
            >
              Go back to Log In?
              <a
                class="cursor-pointer text-orange-500 hover:text-cyan-600"
                href="/login"
                >Click here</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden md:block md:w-1/2 rounded-r-lg"
        style="
          background: url('https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=2000');
          background-size: cover;
          background-position: center center;
        "
      ></div>
    </div>
  </div>
</div>
