<div class="w-full h-full">
  <div class="grid place-items-center h-[63%] overflow-hidden">
    <!-- <div class="rounded-full bg-gray-300">
    </div> -->
    <img class="h-full w-full" src="{{ product.productImage }}" alt="" />
  </div>
  <div class="h-[37%] px-2 lg:pt-6">
    <div class="text-center grid">
      <span class=" font-semibold text-xl">{{ product.productName }}</span>
      <span>{{ product.productCategory }}</span>
      <span>{{ product.productPrice | currency: "PHP":"symbol" }}</span>
    </div>
  </div>
</div>
