<div class="header bg-blue-800" >
    <a href="#default" class="logo "><b>Chopee</b></a>
    <button class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-1 px-1 " [routerLink]="['/home']" >Home</button>
    <button class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-1 px-1 " [routerLink]="['/checkout']" >Checkout</button>
    <button class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-1 px-1 " [routerLink]="['/orders']">Orders</button>
</div>
<router-outlet></router-outlet>