<div class="min-w-screen min-h-screen">
  <app-header class="fixed w-screen"></app-header>
  <div class="min-h-[1200px] pt-12 bg-gray-200">
    <router-outlet></router-outlet>
  </div>

  <app-footer class="w-screen"></app-footer>
</div>

<!-- Renz -->
<!-- <div class="header bg-cyan-600" >
  <a class="logo "><b>Chopee</b></a>
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " [routerLink]="['/home']" >Home</button>
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " [routerLink]="['/checkout']" >Checkout</button>
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " [routerLink]="['/orders']">Orders</button>
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " [routerLink]="['/userlist']">User List</button>
</div>
<router-outlet></router-outlet> -->

<!-- Roi -->
<!-- <router-outlet>
</router-outlet> -->

<!-- Chiiinnnnn -->
<app-header></app-header>
<router-outlet></router-outlet>
