<!-- <br/>
<h2 align="center" class="text-amber-600"><b>ORDERS</b></h2>
<br/>
<div align = "center">
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " (click)="allOrders()" >All</button>
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " (click)="filteredOrders('Pending')" >Pending</button>
  <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-1 px-1 " (click)="filteredOrders('Completed')">Completed</button>
</div>

<table align="center" class="border-double border-2 border-indigo-600">
  <thead>
    <tr class="border-double border-2 border-indigo-600 bg-teal-300"> 
      <th style="width: 10%;">Order ID</th>
      <th style="width: 20%;">Date Ordered</th>
      <th style="width: 20%;">Status</th>
      <th style="width: 20%;">Quantity</th>
      <th style="width: 20%;">Total Price</th>
      <th style="width: 10%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of orders; let i = index" app-pending-orders-items [order]="data"></tr>
  </tbody>
</table>


 -->


<div class="min-w-[800px] bg-gray-200 h-screen py-16 flex justify-center">
  <div class="lg:w-[80%]">
    <div
      class="min-h-max w-full py-4 items-center border-2 border-cyan-500 shadow-sm flex justify-between"
    >
      <span class="ml-5 text-cyan-600 uppercase font-bold ">ORDERS</span>
      <div class="mx-4 space-x-2 flex">
        <button  class="px-2 py-1 bg-blue-600 hover:bg-blue-800 text-white rounded-md font-bold w-full" (click)="allOrders()" >All</button>
        <button  class="px-2 py-1 bg-blue-600 hover:bg-blue-800 text-white rounded-md font-bold w-full" (click)="filteredOrders('Pending')" >Pending</button>
        <button  class="px-2 py-1 bg-blue-600 hover:bg-blue-800 text-white rounded-md font-bold w-full" (click)="filteredOrders('Completed')">Completed</button>
      </div>
    </div>
    <table
      align="center"
      class="min-w-[500px] overflow-auto w-full border-2 border-cyan-500"
    >
      <thead class="bg-cyan-600">
        <tr class="text-gray-800 grid grid-cols-6 gap-2 py-2">
          <th class="text-white">Order ID</th>
          <th class="text-white">Date Ordered</th>
          <th class="text-white">Status</th>
          <th class="text-white">Quantity</th>
          <th class="text-white">Total Price</th>
          <th ></th>
        </tr>
      </thead>
      <tbody class="bg-grey-light flex flex-col overflow-y-auto" style="height: 60vh;">
        <tr
        *ngFor="let data of orders; let i = index" app-pending-orders-items [order]="data"
        class="grid grid-cols-6 px-2 py-1 text-center"
        [ngClass]="i % 2 == 0 ? '' : 'bg-cyan-200'"
        >
        </tr>
      </tbody>
    </table>
  </div>
</div>
