<div class="overflow-x-auto">
  
  <div
    class="min-w-screen min-h-screen bg-stone-100 flex grid items-center justify-center font-sans overflow-hidden"
  >
  <h1 class="text-3xl font-bold tracking-wider text-center mb-16">MY ORDERS</h1>
  <div class="space-x-2 flex justify-center">
    <button
      class="px-2 py-1 w-28 bg-stone-400 hover:bg-stone-500 text-white hover:text-orange-400 uppercase rounded-md font-semibold w-full"
      (click)="allOrders()"
    >
      All
    </button>
    <button
      class="px-2 py-1 w-28 bg-stone-400 hover:bg-stone-500 text-white hover:text-orange-400 uppercase rounded-md font-semibold w-full"
      (click)="filteredOrders('Pending')"
    >
      Pending
    </button>
    <button
      class="px-2 py-1 w-28 bg-stone-400 hover:bg-stone-500  text-white hover:text-orange-400 uppercase rounded-md font-semibold w-full"
      (click)="filteredOrders('Completed')"
    >
      Completed
    </button>
  </div>
    <div class="w-full lg:w-5/6 mb-24">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="bg-black text-white uppercase text-base tracking-wider leading-normal grid grid-cols-6 gap-2 py-2"
            >
              <th class="py-3 px-6 text-center ml-6">Order ID</th>
              <th class="py-3 px-6 text-center ml-6">Date Ordered</th>
              <th class="py-3 px-6 text-center ml-16">Status</th>
              <th class="py-3 px-6 text-center">Quantity</th>
              <th class="py-3 px-6 text-center">Total Price</th>
              
            </tr>
          </thead>
          <tbody class="text-gray-600 text-base font-light">
            <tr
              *ngFor="let data of orders; let i = index"
              app-pending-orders-items
              [order]="data"
              class="grid grid-cols-6 px-2 py-1 text-center h-16"
            ></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

