<div class="min-w-[800px] bg-gray-200 h-screen py-16 flex justify-center">
  <div class="lg:w-[80%]">
    <div
      class="min-h-max w-full py-4 items-center border-2 border-cyan-500 shadow-sm flex justify-between"
    >
      <span class="ml-5 text-cyan-600 uppercase font-bold ">Users</span>
      <div class="mx-4 space-x-2 flex">
        <div class="mr-auto w-full flex justify-end">
          <input
            name="searchInput"
            [(ngModel)]="searchInput"
            type="text"
            placeholder="Search..."
            size="50"
          />
        </div>
        <button
          class="px-2 py-1 bg-blue-600 hover:bg-blue-800 text-white rounded-md font-bold w-full"
          (click)="addUser()"
        >
        <i class="fas fa-add"></i> Add User
        </button>
      </div>
    </div>
    <table
      align="center"
      class="min-w-[500px] overflow-auto w-full border-2 border-cyan-500"
    >
      <thead class="bg-cyan-600">
        <tr class="text-gray-800 grid grid-cols-9 gap-2 py-2">
          <th class="text-white">Username</th>
          <th class="text-white">First Name</th>
          <th class="text-white">Middle Name</th>
          <th class="text-white">Last Name</th>
          <th class="text-white">Mobile Number</th>
          <th class="text-white col-span-2">E-mail</th>
          <th class="text-white">Birthdate</th>
          <th class="text-white">Action</th>
        </tr>
      </thead>
      <tbody class="bg-grey-light flex flex-col  justify-between overflow-y-scroll" style="height: 60vh;">
        <tr
          *ngFor="let data of users | searchUser: searchInput; let i = index"
          class="grid grid-cols-9 px-2 py-1 text-center"
          [ngClass]="i % 2 == 0 ? '' : 'bg-cyan-200'"
        >
          <td>{{ data.userName }}</td>
          <td>{{ data.firstName }}</td>
          <td>{{ data.middleName }}</td>
          <td>{{ data.lastName }}</td>
          <td>{{ data.mobileNumber }}</td>
          <td class="col-span-2">{{ data.email }}</td>
          <td>{{ data.birthdate }}</td>
          <td>
            <button
              [ngClass]="[
                data.active
                  ? 'bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-1 rounded'
                  : 'bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-1 rounded'
              ]"
              (click)="deactivateUser(data)"
            >
              {{ data.active ? "Deactivate" : "Activate" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
