<div class="bg-stone-200 h-screen w-screen">
  <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
      <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
          <div class="flex flex-col w-full md:w-1/2 p-4">
              <div class="flex flex-col flex-1 justify-center mb-8">
                  <h1 class="text-4xl text-center font-medium">WELCOME</h1>
                  <div class="w-full mt-11">
                      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="form-horizontal w-3/4 mx-auto">
                        <div class="text-xs tracking-wider font-medium">USERNAME</div>
                          <div class="flex flex-col mt-2">
                              <input id="username" type="text" class="placeholder:italic flex-grow h-8 px-2 border rounded border-grey-400" formControlName="userName" placeholder="(juandelacruz123)">
                          </div>
                          
                          <div class="flex flex-col mt-7">
                            <div class="text-xs tracking-wider font-medium mb-2">PASSWORD</div>
                              <input id="password" type="password" class="placeholder:italic flex-grow h-8 px-2 rounded border border-grey-400" formControlName="userPassword" required placeholder="Must have atleast 6 characters">
                          </div>
                          <div class="flex flex-col mt-8">
                              <button type="submit" class="bg-stone-400 hover:bg-stone-600 text-white text-sm font-semibold py-2 px-4 rounded">
                                  Login
                              </button>
                          </div>
                      </form>
                      <div class="text-center mt-4">
                          <a class="no-underline hover:underline text-blue-dark text-xs" (click)="forgotPassword()">
                              Forgot Your Password?
                          </a>
                      </div>
                  </div>
              </div>
              <div class="text-sm font-display font-semibold text-black text-center">Don't have an account yet?
                <a class="cursor-pointer text-red-400 hover:text-blue-700" (click)="signUpButton()">Sign Up</a>
              </div>
          </div>
          <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url('https://images.unsplash.com/photo-1513094735237-8f2714d57c13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNob3BwaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80'); background-size: cover; background-position: center center;"></div>
      </div>
  </div>
</div>

