<div class="container">
  <div
    class="min-w-screen min-h-screen flex grid items-center justify-center font-sans overflow-hidden"
  >
    <div class="w-full lg:w-5/6 -mt-12 mb-24">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="bg-black text-white uppercase text-base tracking-wider leading-normal grid grid-cols-5 gap-2 py-2"
            >
              <th class="py-3 px-6 text-center mt-4 ml-8">
                Name
                <i
                  class="fa-solid fa-sort hover:cursor-pointer"
                  (click)="sort('productName')"
                ></i>
              </th>
              <th class="py-3 px-6 text-center mt-4 ml-6">
                Category
                <i
                  class="fa-solid fa-sort hover:cursor-pointer"
                  (click)="sort('productCategory')"
                ></i>
              </th>
              <th class="py-3 px-6 text-center mt-4">
                Price
                <i
                  class="fa-solid fa-sort hover:cursor-pointer"
                  (click)="sort('productPrice')"
                ></i>
              </th>
              <th class="py-3 px-6 text-center mt-4">
                Units Sold
                <i
                  class="fa-solid fa-sort hover:cursor-pointer"
                  (click)="sort('unitsSold')"
                ></i>
              </th>
              <th class="py-3 px-6 text-center mt-4">Action</th>
            </tr>
          </thead>
          <tbody
            class="text-gray-600 text-base font-light flex flex-col overflow-y-auto"
            style="height: 65vh"
          >
            <tr
              *ngFor="let product of products; let i = index"
              class="grid grid-cols-5 px-2 py-1 text-center table-fixed"
              class="grid grid-cols-5 px-2 py-1 text-center h-12"
            >
              <td
                class="grid grid-cols-5"
                title="{{ product.productName }}"
                class="truncate"
              >
                {{ product.productName }}
              </td>
              <td>{{ product.productCategory }}</td>
              <td>{{ product.productPrice | currency: "PHP":"symbol" }}</td>
              <td>{{ product.unitsSold }}</td>
              <td class="space-x-2">
                <button
                  (click)="edit(product.productId)"
                  class="px-2 py-1 border rounded-md bg-orange-500 text-white hover:bg-orange-700 text-sm"
                >
                  <i class="fa fa-pen-to-square"></i> Edit
                </button>
                <button
                  (click)="delete(product.id)"
                  class="px-2 py-1 border rounded-md bg-red-500 text-white hover:bg-red-700 text-sm"
                >
                  <i class="fas fa-trash"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
