<div
  class="absolute inset-0 w-full h-full bg-black bg-opacity-50 z-20 grid place-items-center"
>

<!-- edit this shit -->
  <div class="w-[50%] bg-gray-100 md:h-[45%] lg:h-[35%] flex">
    <div class="w-[45%] border-r border-cyan-500 overflow-hidden">
      <img
        class="h-full w-full"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXKG8mKsLTQkYdsr6EFZ6h6vnU1o184ZhuFw&usqp=CAU"
        alt=""
      />
    </div>
    <div class="w-[55%] px-6 space-y-8">
      <div class="py-3">
        <span class="font-semibold text-gray-800 text-2xl">Balls</span>
      </div>

      <div class="grid grid-cols-3">
        <span class="text-gray-500">Price</span>
        <span class="text-gray-800 col-span-2">P2,500.00</span>
      </div>

      <div class="grid grid-cols-3">
        <span class="text-gray-500">Quantity</span>
        <div class="col-span-2">
          <button class="bg-white border border-gray-400 font-bold px-4">
            -
          </button>
          <input
            type="number"
            class="w-16 outline-none border border-gray-400 text-center"
          />
          <button class="bg-white border border-gray-400 font-bold px-4">
            +
          </button>
        </div>
      </div>

      <div class="grid place-items-center">
        <div class="space-x-4">
          <button
            class="bg-red-500 px-2 py-1 rounded-sm border-2 border-red-300 hover:bg-red-600 hover:border-red-700"
          >
            <span class="text-white">
              <i class="fa fa-x"></i> Cancel</span
            >
          </button>
          <button
            class="bg-[#FC6A03] px-2 py-1 rounded-sm border-2 border-orange-300 hover:bg-orange-600 hover:border-orange-700"
          >
            <span class="text-white">
              <i class="fa fa-shopping-cart"></i> Add To Cart</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
