img {
    display: block;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.-m-16{
    margin: -4rem;
}

.mt-12 {
    margin-top: 3rem;
}

.lg\:-ml-16 {
    margin-left: -4rem;
}

.h-auto{
    height: auto;
}

.absolute {
    position: absolute;
}

.rounded {
    border-radius: .25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.border-none {
    border-style: none;
}

.max-w-150-px {
    max-width: 150px;
}